// ======================================================
// Base :: Global like html, body, img, a, ul
// ======================================================

body {
  padding-top: 70px;
  font-size: $text-base;
  font-family: $font-family-base;
  font-weight: $font-weight-light;
}

img {
  vertical-align: middle;
}

a {
  &:hover,
  &:focus,
  &:active {
    outline: 0;
    box-shadow: none;
    text-decoration: none;
  }
}

ul,
ol {
  list-style: none;
  padding: 0;
}

input,
input:focus,
textarea,
textarea:focus,
button,
button:focus {
  outline: none;
}

button {
  border: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
ul {
  margin: 0;
}

.unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

strong {
  font-weight: $font-weight-bold;
}

::-webkit-scrollbar {
  width: 4px;
  height: 3px;
}

::-webkit-scrollbar-track {
  border-radius: $border-radius-small;
  border: solid 3px transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: solid 3px transparent;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1440px;
  }
}

.slider {
  &.slick-initialized {
    display: block;
    -webkit-animation: fadein 0.3s;
    animation: fadein 0.3s;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
