// ======================================================
// Base :: Global like html, body, img, a, ul
// ======================================================

body {
  font-size: $text-base;
  font-family: $font-family-base;
  font-weight: $font-weight-light;
}

img {
  vertical-align: middle;
}

a {
  outline: 0;
  box-shadow: none;
  text-decoration: none;
}

input,
input:focus,
textarea,
textarea:focus,
button,
button:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 4px;
  height: 3px;
}

::-webkit-scrollbar-track {
  border-radius: $border-radius-small;
  border: solid 3px transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: solid 3px transparent;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
