// ======================================================
// Base :: Global like html, body, img, a, ul
// ======================================================
@import '/assets/scss/abstracts/variables';

body {
  font-size: $text-base;
  font-family: $font-family-base;
  font-weight: $font-weight-light;
}

img {
  vertical-align: middle;
}

a {
  outline: 0;
  box-shadow: none;
  text-decoration: none;
}

input,
input:focus,
textarea,
textarea:focus,
button,
button:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 4px;
  height: 3px;
}

::-webkit-scrollbar-track {
  border-radius: $border-radius-small;
  border: solid 3px transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: solid 3px transparent;
  background-color: $purple-primary-5;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// ======================================================
// Custom global element-ui
// ======================================================

// Dialog
.el-dialog__header {
  padding: $unit-4 $unit-5;
  border-bottom: 1px solid #dfe3e8;
  border-radius: $border-radius-base $border-radius-base 0px 0px;

  .el-dialog__title {
    font-size: $text-xl;
    font-weight: $font-weight-light;
    display: block;
    line-height: 2.5rem;
  }
}
.el-dialog__footer {
  padding: 10px 20px;
  border-top: 1px solid #dfe3e8;
  border-radius: 0px 0px $border-radius-base $border-radius-base;
}

.el-button {
  &--modal {
    padding-top: $unit-3;
    padding-bottom: $unit-3;
    font-size: $text-sm;
  }
}

.el-dialog__headerbtn .el-dialog__close:hover {
  color: $purple-primary-5;
}
// End Dialog

// Message Box
.el-message-box__btns {
  .el-button--default {
    background: $white;
    border: 1px solid $purple-primary-5;
    color: $purple-primary-5;
    border-radius: $border-radius-base;

    &:not([disabled]):hover,
    &:not([disabled]):focus {
      background: $purple-primary-5;
      border-color: $purple-primary-5;
      color: $white;
    }
  }

  .el-button--primary {
    background: $purple-primary-5;
    border: 1px solid $purple-primary-5;
    border-radius: $border-radius-base;
    color: $white;

    &:not([disabled]):hover,
    &:not([disabled]):focus {
      background: $purple-primary-4;
      border-color: $purple-primary-4;
      color: $white;
    }
  }
}
.el-message-box__headerbtn .el-message-box__close:hover {
  color: $purple-primary-5;
}
// End Message Box

// El Input
.el-input.is-active .el-input__inner,
.el-input__inner:focus {
  border-color: $purple-primary-5;
}
// End El Input

// El textaria
.el-textarea.is-active .el-textarea__inner,
.el-textarea__inner:focus {
  border-color: $purple-primary-5;
}

// El Form Rules

// change red star validate to the back
.custom-label {
  .el-form-item__label {
    &::before {
      display: none;
    }
    &::after {
      content: '*';
      color: #ff4949;
      margin-left: 4px;
    }
  }
}

// End ElForm Rules

// El checkbox
.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: $purple-primary-5;
  border-color: $purple-primary-5;
}

.el-checkbox__input.is-focus .el-checkbox__inner {
  border-color: $purple-primary-5;
}

.el-checkbox__input.is-checked + .el-checkbox__label {
  color: $purple-primary-5;
}
// End El checkbox

// El Select
.el-select .el-input.is-focus .el-input__inner {
  border-color: $purple-primary-5;
}

.el-select .el-input__inner:focus {
  border-color: $purple-primary-5;
}

.el-select-dropdown__item.selected {
  color: $purple-primary-5;
}
// End El Select

// El Radio Button
.el-radio__input.is-checked + .el-radio__label {
  color: $purple-primary-5;
}

.el-radio__inner:hover {
  border-color: $purple-primary-5;
}

.el-radio__input.is-checked .el-radio__inner {
  border-color: $purple-primary-5;
  background: $purple-primary-5;
}
// End El Radio Button

// EL Tabs
.el-tabs__nav-wrap::after {
  background-color: $neutral-primary-0;
}
.el-tabs__item.is-active {
  color: $purple-primary-4;
}
.el-tabs__active-bar {
  background-color: $purple-primary-3;
}
.el-tabs__item:hover {
  color: $purple-primary-4;
}
.el-tabs__item {
  color: $neutral-primary-2;
}

// End El tabs

// El-page-header
.el-page-header__title {
  color: $neutral-primary-2;
}

// El-button-disabled
.el-button.is-disabled,
.el-button.is-disabled:focus,
.el-button.is-disabled:hover {
  color: #c0c4cc;
  cursor: not-allowed;
  background-image: none;
  background-color: #fff;
  border-color: #ebeef5;
}

.el-progress-bar__inner {
  max-width: 100% !important;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.5s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
  transform: translateX(30px);
}

.layout-enter-active,
.layout-leave-active {
  transition: all 0.5s;
}
.layout-enter,
.layout-leave-active {
  opacity: 0;
  transform: translateX(30px);
}
