$markdown-h1-size: 1.95rem;
$markdown-h2-size: 1.75rem;
$markdown-h3-size: 1.45rem;
$markdown-h4-size: 1.15rem;
$markdown-title-size: 2.5rem;
$markdown-header-border-color: #dbe3e8;

.markdown-body pre {
  background-color: #eee;
  border-radius: 3px;
  padding: 1rem;
}

.markdown-body pre code {
  background-color: transparent;
  border: 0;
  display: inline;
  line-height: inherit;
  margin: 0;
  max-width: auto;
  overflow: visible;
  padding: 0;
  word-wrap: normal;
}

.md-contents,
.editor-preview-side,
.editor-preview-active {
  line-height: 1.75;
  overflow: hidden;

  /**
     * Paragraph
     */
  p {
    font-weight: normal;
    color: #000;
    letter-spacing: -0.003em;
  }

  li,
  p {
    font-size: 1em;
    word-break: break-word;
    word-wrap: break-word;
  }

  /**
     * Inline elements
     */
  a {
    color: #2b6dad;
  }

  code[class*='language-'] {
    font-size: 14px;
  }

  img {
    &:not(.emoji) {
      cursor: pointer;
      text-align: center;
      max-width: 100% !important;
      vertical-align: baseline;
    }
  }

  /**
     * Paragraph spacings
     */
  p {
    margin-bottom: 0;
    margin-top: 1.5em;

    & > img {
      &:not(.emoji) {
        &:only-child {
          margin: 1.5em auto;
          display: block;
        }
      }
    }
  }

  &:not(.pad-start) {
    > *:first-child {
      margin-top: 0;
    }
  }

  ul,
  ol,
  blockquote,
  table {
    margin-bottom: 0;
    margin-top: 1em;
  }

  li {
    margin-bottom: 0.5em;
  }

  // Blocks following a heading
  @each $heading in (h1, h2, h3, h4, h6) {
    @each $block in (ul, ol, p, blockquote, table) {
      #{$heading} + #{$block} {
        margin-top: 0.5em;
      }
    }
  }

  /**
    * Headings
    */
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: bold;
  }

  h1,
  h2,
  h3 {
    margin: 1.5em 0 0.6em;
  }

  h1 {
    font-size: $markdown-h1-size;
  }

  h2 {
    font-size: $markdown-h2-size;
  }

  h3 {
    font-size: $markdown-h3-size;
  }

  h4 {
    margin: 0.6em 0;
    font-size: $markdown-h4-size;
  }

  /**
    * Other blocks
    */
  table {
    display: block;
    width: 100%;
    overflow: auto;

    td,
    th {
      border: 1px solid #333;
      padding: 0.75rem;
      vertical-align: top;
    }

    tbody {
      tr {
        &:hover {
          background-color: #f6f6f7;
        }
      }
    }
  }

  blockquote {
    overflow: auto;
    padding: 0.5rem 1rem;
    background-color: #f8f8f8;
    border-left: 3px solid #5488c7;

    ul,
    ol,
    p {
      margin-top: 0.5em;
      color: darken(#9b9b9b, 20%);

      &:first-child {
        margin-top: 0;
      }
    }

    li {
      margin-bottom: 0;
    }

    blockquote {
      margin: 0 !important;
    }
  }
}

@include breakpoint-down(smallphone) {
  .md-contents,
  .editor-preview-side,
  .editor-preview-active {
    h1 {
      font-size: $markdown-h1-size * 0.8;
    }

    h2 {
      font-size: $markdown-h2-size * 0.8;
    }

    h3 {
      font-size: $markdown-h3-size * 0.7;
    }

    h4 {
      margin: 0.6em 0;
      font-size: $markdown-h4-size * 0.7;
    }
  }

  .katex-display {
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
