.-display-flex {
  display: flex;
}

.-display-block {
  display: block;
}

.-justify-content-center {
  justify-content: center;
}

.-justify-content-between {
  justify-content: space-between;
}

.-align-items-center {
  align-items: center;
}
