.-w-100vw {
  width: 100vw;
}

.w-100 {
  width: 100%;
}

.-w-0 {
  width: $unit-0;
}

.-w-1 {
  width: $unit-1;
}

.-w-2 {
  width: $unit-2;
}

.-w-3 {
  width: $unit-3;
}

.-w-4 {
  width: $unit-4;
}

.-w-5 {
  width: $unit-5;
}
.-w-6 {
  width: $unit-6;
}

.-w-7 {
  width: $unit-7;
}

.-w-8 {
  width: $unit-8;
}

.-w-9 {
  width: $unit-9;
}
.-w-10 {
  width: $unit-10;
}

.-w-11 {
  width: $unit-11;
}

.-w-12 {
  width: $unit-12;
}

.-w-13 {
  width: $unit-14;
}

.-w-14 {
  width: $unit-16;
}

.-w-15 {
  width: $unit-18;
}

.-w-16 {
  width: $unit-20;
}

.-w-17 {
  width: $unit-21;
}

.-w-18 {
  width: $unit-24;
}

.-w-19 {
  width: $unit-32;
}

.-w-20 {
  width: $unit-40;
}

.-w-21 {
  width: $unit-48;
}

.-w-22 {
  width: $unit-56;
}

.-w-23 {
  width: $unit-60;
}

.-w-24 {
  width: $unit-64;
}
