// ======================================================
// Abstracts :: Variables
// ======================================================

// Color
$black: #000;
$black-light: #1b1b1b;
$black-lighter: #3b3b3b;
$white: #fff;
$neutral-primary-0: #f4f6f8;
$neutral-primary-1: #919eab;
$neutral-primary-2: #637381;
$neutral-primary-3: #454f5b;
$neutral-primary-4: #212b36;
$purple-primary-0: #f2f0fd;
$purple-primary-1: #f6f0fd;
$purple-primary-2: #e3d0ff;
$purple-primary-3: #9c6ade;
$purple-primary-4: #50248f;
$purple-primary-5: #230051;
$purple-primary-6: #50495a;
$red-primary-1: #eb5757;
$red-primary-2: #ff0064;
$blue-primary-2: #2d9cdb;
$green-primary-1: #27ae60;
// Fonts
// >> Font-family
$font-family-base: 'Arial', sans-serif;
// >> Font Size
$text-xs: 0.75rem;
$text-sm: 0.875rem;
$text-base: 1rem; // 16px
$text-lg: 1.125rem;
$text-xl: 1.25rem;
$text-2xl: 1.5rem;
$text-3xl: 1.875rem;
$text-4xl: 2.25rem;
$text-5xl: 3rem;
$text-6xl: 4rem;
// >> Font-weight
$font-weight-light: 300;
$font-weight-base: 400;
$font-weight-medium: 600;
$font-weight-bold: 700;

// Borders
$border-radius-small: 2px;
$border-radius-base: 4px;
$border-radius-medium: 8px;
$border-radius-large: 24px;

// Unit extends Tailwind
$unit-0: 0;
$unit-1: 0.25rem;
$unit-2: 0.5rem;
$unit-3: 0.75rem;
$unit-4: 1rem;
$unit-5: 1.25rem;
$unit-6: 1.5rem;
$unit-7: 1.75rem;
$unit-8: 2rem;
$unit-9: 2.25rem;
$unit-10: 2.5rem;
$unit-12: 3rem;
$unit-16: 4rem;
$unit-20: 5rem;
$unit-24: 6rem;
$unit-32: 8rem;
$unit-40: 10rem;
$unit-48: 12rem;
$unit-56: 14rem;
$unit-64: 16rem;

// Box-shadow
$box-shadow-default: 0px 1px 3px rgba(63, 63, 68, 0.15), 0px 0px 0px rgba(63, 63, 68, 0.05);
