// ======================================================
// Abstracts :: Variables
// ======================================================

// Color
$black: #000;
$black-light: #1b1b1b;
$black-lighter: #3b3b3b;
$white: #fff;
$neutral-primary-0: #f4f6f8;
$neutral-primary-1: #c0c4cc;
$neutral-primary-2: #637381;
$neutral-primary-3: #454f5b;
$neutral-primary-4: #212b36;
$purple-primary-0: #fce7f3;
$purple-primary-1: #fbcfe8;
$purple-primary-2: #f9a8d4;
$purple-primary-3: #f472b6;
$purple-primary-4: #ec4899;
$purple-primary-5: #db2777;
$purple-primary-6: #be185d;
$purple-primary-7: #9d174d;
$purple-primary-8: #831843;

$red-primary-1: #eb5757;
$red-primary-2: #ff0064;
$blue-primary-1: #be185d;
$blue-primary-2: #9d174d;
$blue-primary-3: #a4bfd6;
$green-primary-1: #27ae60;
$gray-primary-1: #dfe3e8;
$yello-primary-1: #fde475;
$orange-primary-1: #f9a357;

// Fonts
// >> Font-family
$font-family-base: 'Arial', sans-serif;
// >> Font Size
$text-xs: 0.75rem;
$text-sm: 0.875rem;
$text-base: 1rem; // 16px
$text-lg: 1.125rem;
$text-xl: 1.25rem;
$text-2xl: 1.5rem;
$text-3xl: 1.875rem;
$text-4xl: 2.25rem;
$text-5xl: 3rem;
$text-6xl: 4rem;
// >> Font-weight
$font-weight-light: 300;
$font-weight-base: 400;
$font-weight-medium: 600;
$font-weight-bold: 700;

// Borders
$border-radius-small: 2px;
$border-radius-base: 4px;
$border-radius-medium: 8px;
$border-radius-middle: 16px;
$border-radius-large: 24px;

// Unit extends Tailwind
$unit-0: 0;
$unit-1: 0.25rem;
$unit-2: 0.5rem;
$unit-3: 0.75rem;
$unit-4: 1rem;
$unit-5: 1.25rem;
$unit-6: 1.5rem;
$unit-7: 1.75rem;
$unit-8: 2rem;
$unit-9: 2.25rem;
$unit-10: 2.5rem;
$unit-11: 2.75rem;
$unit-12: 3rem;
$unit-14: 3.5rem;
$unit-16: 4rem;
$unit-18: 4.5rem;
$unit-20: 5rem;
$unit-21: 5.25rem;
$unit-24: 6rem;
$unit-32: 8rem;
$unit-40: 10rem;
$unit-48: 12rem;
$unit-56: 14rem;
$unit-60: 15rem;
$unit-64: 16rem;

// Box-shadow
$box-shadow-default: 0px 1px 3px rgba(63, 63, 68, 0.15),
  0px 0px 0px rgba(63, 63, 68, 0.05);
