.el-button {
  font-family: $font-family-base;
  font-weight: $font-weight-medium;
  &:hover {
    color: $white;
    border: 1px solid $purple-primary-4;
    background: $purple-primary-4;
  }
}

.el-button--purple {
  background: $purple-primary-4;
  border: 1px solid $purple-primary-4;
  border-radius: $border-radius-base;
  color: $white;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    transition: none;
  }
  &:hover {
    &::after {
      width: 120%;
      background-color: rgba(255, 255, 255, 0);
      transition: all 0.3s ease-in-out;
    }
  }
}
.el-button {
  &--primary {
    background-color: $primary;
  }
}

.el-button--white {
  background: $white;
  border: 1px solid $purple-primary-5;
  color: $purple-primary-5;
  border-radius: $border-radius-base;

  &:not([disabled]):hover,
  &:not([disabled]):focus {
    background: $purple-primary-3;
    border-color: $purple-primary-3;
    color: $white;
  }
}

.el-button {
  @include m('small') {
    font-size: $text-xs;
    padding: 0.4375rem 0.75rem;
  }

  @include m('base') {
    font-size: $text-base;
    padding: 0.4375rem 0.75rem;
  }

  @include m('medium') {
    font-size: $text-xl;
    padding: 0.75rem 0.75rem;
  }

  @include m('large') {
    font-size: $text-2xl;
    padding: 0.875rem 0.75rem;
  }
}

.el-button {
  &--search {
    padding-left: $unit-8;
    padding-right: $unit-8;
    font-size: $text-sm;
  }
  &--invite {
    margin-bottom: $unit-4;
    padding-top: $unit-3;
    font-size: $text-sm;
  }
}
