.el-button {
  font-family: $font-family-base;
  font-weight: $font-weight-medium;
}

.el-button--purple {
  background: $purple-primary-5;
  border: 1px solid $purple-primary-5;
  border-radius: $border-radius-base;
  color: $white;

  &:not([disabled]):hover,
  &:not([disabled]):focus {
    background: $purple-primary-4;
    border-color: $purple-primary-4;
    color: $white;
  }
}

.el-button--white {
  background: $white;
  border: 1px solid $purple-primary-5;
  color: $purple-primary-5;
  border-radius: $border-radius-base;

  &:not([disabled]):hover,
  &:not([disabled]):focus {
    background: $purple-primary-3;
    border-color: $purple-primary-3;
    color: $white;
  }
}

.el-button {
  @include m('small') {
    font-size: $text-xs;
    padding: 0.4375rem 0.75rem;
  }

  @include m('base') {
    font-size: $text-base;
    padding: 0.4375rem 0.75rem;
  }

  @include m('medium') {
    font-size: $text-xl;
    padding: 0.75rem 0.75rem;
  }

  @include m('large') {
    font-size: $text-2xl;
    padding: 0.875rem 0.75rem;
  }
}
