.icon {
  &--delete {
    color: red;
  }
  &--warning {
    color: #e6a23c;
  }
  &--info {
    color: #409eff;
  }
  &--green {
    color: green;
  }
  &--purple {
    color: $purple-primary-3;
  }
}
