::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  border-radius: $border-radius-small;
  border: solid 0 transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  border: solid 0 transparent;
  width: 0;
}
