::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  border-radius: $border-radius-small;
  border: solid 2 transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 2;
  border: solid 2 transparent;
  width: 2px;
}
