::-webkit-scrollbar {
  width: 0px;
  height: 7px;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb {
  background: $purple-primary-4;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
  background: $purple-primary-5;
}
